commands:
  test_command:
    command: <br />container_commands:<br />enable_websockets:<br />command: |<br />sed -i '/\s*proxy_set_header\s*Connection/c \<br />proxy_set_header Upgrade $http_upgrade;\<br />proxy_set_header Connection "upgrade";\<br />' /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf<br />

